USE [LMS]
GO
/****** Object:  Table [dbo].[MORTGAGE]    Script Date: 27-09-2022 09:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MORTGAGE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [bigint] NOT NULL,
	[DATE] [datetime] NOT NULL,
	[BILL_NUMBER] [bigint] NOT NULL,
	[JEWEL_WEIGHT_GRAM] [decimal](9, 3) NOT NULL,
	[AMOUNT] [decimal](13, 2) NOT NULL,
	[INTEREST_RATE] [decimal](9, 3) NOT NULL,
	[DESCRIPTION] [nvarchar](256) NULL,
	[CREATED_BY] [varchar](25) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](25) NULL,
	[MODIFIED_ON] [datetime] NULL,
	[IS_CLOSED] [bit] NULL,
	[CLOSE_REASON] [int] NULL,
	[JEWEL_WEIGHT_MILLIGRAM] [decimal](9, 3) NOT NULL,
	[CLOSE_DATE] [datetime] NULL,
	[PAYABLE_AMOUNT] [decimal](9, 2) NULL,
	[PAID_AMOUNT] [decimal](9, 2) NULL,
	[BILL_TYPE] [char](1) NULL,
	[YEAR_PASSED_INTEREST] [decimal](9, 3) NULL,
	[INTEREST_PAID]  AS (case when [PAID_AMOUNT] IS NULL then NULL else [PAID_AMOUNT]-[AMOUNT] end) PERSISTED,
	[IS_TAKEN_OUT] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MORTGAGE] ON 

GO
SET IDENTITY_INSERT [dbo].[MORTGAGE] OFF
GO
ALTER TABLE [dbo].[MORTGAGE] ADD  DEFAULT ((0)) FOR [IS_CLOSED]
GO
ALTER TABLE [dbo].[MORTGAGE] ADD  DEFAULT ((0)) FOR [JEWEL_WEIGHT_MILLIGRAM]
GO
ALTER TABLE [dbo].[MORTGAGE] ADD  DEFAULT ((0)) FOR [IS_TAKEN_OUT]
GO
