USE [LMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMortgageForDashboardByDate]    Script Date: 27-09-2022 09:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetMortgageForDashboardByDate] (@inputDate DATETIME)
AS
BEGIN

	SELECT COALESCE(DEBIT, 0) Debit, COALESCE(CREDIT, 0) Credit, COALESCE(INTEREST, 0) Interest, COALESCE(IMMERSED, 0) Immersed, (COALESCE(CREDIT, 0) - COALESCE(DEBIT, 0)) Total FROM 
	(SELECT SUM(AMOUNT) AS DEBIT FROM MORTGAGE WHERE (CLOSE_REASON != 2 OR CLOSE_REASON IS NULL) AND DATE = @inputDate) A,
	(SELECT SUM(AMOUNT) AS CREDIT FROM MORTGAGE WHERE (CLOSE_REASON != 2) AND CONVERT(DATE, CLOSE_DATE) = CONVERT(DATE, @inputDate)) B,
	(SELECT SUM(INTEREST_PAID) AS INTEREST FROM MORTGAGE WHERE (CLOSE_REASON != 2 OR CLOSE_REASON IS NULL) AND CONVERT(DATE, CLOSE_DATE) = CONVERT(DATE, @inputDate)) C,
	(SELECT SUM(AMOUNT) AS IMMERSED FROM MORTGAGE WHERE CLOSE_REASON = 2 AND DATE = @inputDate AND IS_TAKEN_OUT = 0) D

END
GO
